@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-color: #05c0a1;
    --background-color: #f8f9fa;
    --black-color: black;
    --white-color: white;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}


/******** HEADER ********/

.headerWrapper {
    position: relative;
    background: url(../images/wallpaper-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.main-info h1 {
    color: var(--white-color);
    text-transform: uppercase;
    margin-top: 5rem;
    font-weight: 800;
    letter-spacing: 0.8rem;
    
}

/******** TYPED TEXT ********/

.typed-text {
    font-size: 1rem;
    color: var(--background-color);
    text-transform: uppercase;
}

/******** HEADER MAIN OFFER BUTTON ********/

.btn-main-offer {
    text-transform: uppercase;
    border-radius: 10px 10px;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--black-color);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2rem;
    transition: 0.3s;
    background-color: var(--background-color);
    
}

.btn-main-offer:hover {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 1;
}